# ECE 204: Assessment 3 (Fall 2022)

In [53]:
# Import Statements
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

## Item 3: Classification

Please add cells below as necessary to answer the questions in this item. Do not change the pre-set random seeds.

In [54]:
# Read in Data
df_train = pd.read_csv('sensors_train.csv')
df_test = pd.read_csv('sensors_test.csv')
df_train.head()

   Sensor_1  Sensor_2  Sensor_3  Sensor_4  Status
0    14.161    14.255    13.657    58.989  Yellow
1    21.341    20.094    14.489    70.697     Red
2    21.674    20.433    13.804    69.272   Green
3    15.834    15.591    18.119    75.727     Red
4    12.898    13.186     8.127    42.537     Red

In [55]:
X_train = df_train.loc[:,['Sensor_1','Sensor_2', 'Sensor_3', 'Sensor_4']]
y_train = df_train['Status']

X_test = df_test.loc[:,['Sensor_1','Sensor_2', 'Sensor_3', 'Sensor_4']]
y_test = df_test['Status']

In [56]:
# Find training and testing accuracies for a given max depth 
clf = DecisionTreeClassifier(max_depth = 15, random_state = 42)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)


print(clf.score(X_train, y_train))

print(clf.score(X_test, y_test))
print(accuracy_score(y_test,y_pred))
print("Feature importances =",clf.feature_importances_)

0.88625
0.6125
0.6125
Feature importances = [0.43061892 0.12836297 0.27171336 0.16930475]

In [57]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
for max_dep in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]:
    clf = DecisionTreeClassifier(max_depth=max_dep)
    model_scores = cross_val_score(clf, X_train, y_train, cv=5)
    print("max_depth=", str(max_dep), "Fold acc =", model_scores)
    print("max_depth=", str(max_dep), "Mean acc =", model_scores.mean())
    print(model_scores.mean())

max_depth= 1 Fold acc = [0.578125 0.571875 0.578125 0.571875 0.58125 ]
max_depth= 1 Mean acc = 0.5762499999999999
0.5762499999999999
max_depth= 2 Fold acc = [0.7      0.7125   0.734375 0.690625 0.684375]
max_depth= 2 Mean acc = 0.7043750000000001
0.7043750000000001
max_depth= 3 Fold acc = [0.7      0.703125 0.734375 0.690625 0.675   ]
max_depth= 3 Mean acc = 0.7006249999999999
0.7006249999999999
max_depth= 4 Fold acc = [0.6875   0.709375 0.71875  0.690625 0.68125 ]
max_depth= 4 Mean acc = 0.6975
0.6975
max_depth= 5 Fold acc = [0.6875   0.696875 0.709375 0.69375  0.665625]
max_depth= 5 Mean acc = 0.690625
0.690625
max_depth= 6 Fold acc = [0.678125 0.684375 0.690625 0.665625 0.6625  ]
max_depth= 6 Mean acc = 0.6762499999999999
0.6762499999999999
max_depth= 7 Fold acc = [0.653125 0.671875 0.684375 0.65625  0.6375  ]
max_depth= 7 Mean acc = 0.6606249999999999
0.6606249999999999
max_depth= 8 Fold acc = [0.64375  0.615625 0.66875  0.659375 0.634375]
max_depth= 8 Mean acc = 0.6443749999999999
0.6443749999999999
max_depth= 9 Fold acc = [0.63125  0.6      0.628125 0.640625 0.625   ]
max_depth= 9 Mean acc = 0.625
0.625
max_depth= 10 Fold acc = [0.634375 0.584375 0.6125   0.628125 0.609375]
max_depth= 10 Mean acc = 0.61375
0.61375
max_depth= 11 Fold acc = [0.634375 0.590625 0.61875  0.609375 0.60625 ]
max_depth= 11 Mean acc = 0.6118750000000001
0.6118750000000001
max_depth= 12 Fold acc = [0.621875 0.59375  0.596875 0.6      0.596875]
max_depth= 12 Mean acc = 0.601875
0.601875
max_depth= 13 Fold acc = [0.615625 0.5625   0.59375  0.596875 0.609375]
max_depth= 13 Mean acc = 0.5956250000000001
0.5956250000000001
max_depth= 14 Fold acc = [0.596875 0.55625  0.565625 0.603125 0.596875]
max_depth= 14 Mean acc = 0.58375
0.58375
max_depth= 15 Fold acc = [0.590625 0.553125 0.53125  0.5875   0.596875]
max_depth= 15 Mean acc = 0.571875
0.571875

In [58]:
# Model selection via cross validation
# Make sure to use random_state = 42 when creating the DecisionTreeClassifier

In [59]:
# Retrain classifier with optimal max_depth
clf = DecisionTreeClassifier(max_depth = 2, random_state = 42)

clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)


print(clf.score(X_train, y_train))

print(clf.score(X_test, y_test))
print(accuracy_score(y_test,y_pred))
print("Feature importances =",clf.feature_importances_)

0.706875
0.7125
0.7125
Feature importances = [0.59776968 0.         0.40223032 0.        ]

In [60]:
s1 = pd.Series([50, 50,50,50,"Status"])

df = pd.DataFrame([list(s1)],  columns =  ["Sensor_1", "Sensor_2", "Sensor_3","Sensor_4","Status"])
X_train = df.loc[:,['Sensor_1','Sensor_2', 'Sensor_3', 'Sensor_4']]
y_train = df['Status']
clf.predict(X_train)

array(['Green'], dtype=object)

## Item 4: Linear Regression

Please add/delete cells as necessary below to answer the questions in this item.

In [61]:
# Read in Data
df_train = pd.read_csv('sensors_train.csv')
df_test = pd.read_csv('sensors_test.csv')

Xr_train = df_train.loc[:,['Sensor_1','Sensor_2', 'Sensor_3']]
yr_train = df_train['Sensor_4']

In [68]:


model = LinearRegression()
model.fit(Xr_train, yr_train)
print(model.intercept_)
print(model.coef_)
print(model.score(Xr_train,yr_train))

4.4476012501414885
[ 2.141181   -1.17779325  3.00670267]
0.9597076468309549

In [103]:
import numpy as np

A = np.array([[       1,       13,      169,     2197,    28561,   371293],
       [       1,       25,      625,    15625,   390625,  9765625],
       [       1,       14,      196,     2744,    38416,   537824],
       [       1,        2,        4,        8,       16,       32],
       [       1,        9,       81,      729,     6561,    59049],
       [       1,       17,      289,     4913,    83521,  1419857],
       [       1,       16,      256,     4096,    65536,  1048576],
       [       1,       13,      169,     2197,    28561,   371293],
       [       1,       26,      676,    17576,   456976, 11881376],
       [       1,       10,      100,     1000,    10000,   100000],
       [       1,       16,      256,     4096,    65536,  1048576],
       [       1,       12,      144,     1728,    20736,   248832],
       [       1,       19,      361,     6859,   130321,  2476089],
       [       1,        7,       49,      343,     2401,    16807],
       [       1,       17,      289,     4913,    83521,  1419857],
       [       1,        5,       25,      125,      625,     3125],
       [       1,       10,      100,     1000,    10000,   100000],
       [       1,        5,       25,      125,      625,     3125],
       [       1,       25,      625,    15625,   390625,  9765625],
       [       1,        4,       16,       64,      256,     1024],
       [       1,       20,      400,     8000,   160000,  3200000],
       [       1,       26,      676,    17576,   456976, 11881376]])

In [106]:

for i in range(22):
    for j in range (6):
        vi = A[i][1]
        vij = vi ** (j)
        print(A[i][j],vi,vij)
        if (A[i][j] != vij):
            print(False)
            break
    
print(True)

1 13 1
13 13 13
169 13 169
2197 13 2197
28561 13 28561
371293 13 371293
1 25 1
25 25 25
625 25 625
15625 25 15625
390625 25 390625
9765625 25 9765625
1 14 1
14 14 14
196 14 196
2744 14 2744
38416 14 38416
537824 14 537824
1 2 1
2 2 2
4 2 4
8 2 8
16 2 16
32 2 32
1 9 1
9 9 9
81 9 81
729 9 729
6561 9 6561
59049 9 59049
1 17 1
17 17 17
289 17 289
4913 17 4913
83521 17 83521
1419857 17 1419857
1 16 1
16 16 16
256 16 256
4096 16 4096
65536 16 65536
1048576 16 1048576
1 13 1
13 13 13
169 13 169
2197 13 2197
28561 13 28561
371293 13 371293
1 26 1
26 26 26
676 26 676
17576 26 17576
456976 26 456976
11881376 26 11881376
1 10 1
10 10 10
100 10 100
1000 10 1000
10000 10 10000
100000 10 100000
1 16 1
16 16 16
256 16 256
4096 16 4096
65536 16 65536
1048576 16 1048576
1 12 1
12 12 12
144 12 144
1728 12 1728
20736 12 20736
248832 12 248832
1 19 1
19 19 19
361 19 361
6859 19 6859
130321 19 130321
2476089 19 2476099
False
1 7 1
7 7 7
49 7 49
343 7 343
2401 7 2401
16807 7 16807
1 17 1
17 17 17
289 17 289
4913 17 4913
83521 17 83521
1419857 17 1419857
1 5 1
5 5 5
25 5 25
125 5 125
625 5 625
3125 5 3125
1 10 1
10 10 10
100 10 100
1000 10 1000
10000 10 10000
100000 10 100000
1 5 1
5 5 5
25 5 25
125 5 125
625 5 625
3125 5 3125
1 25 1
25 25 25
625 25 625
15625 25 15625
390625 25 390625
9765625 25 9765625
1 4 1
4 4 4
16 4 16
64 4 64
256 4 256
1024 4 1024
1 20 1
20 20 20
400 20 400
8000 20 8000
160000 20 160000
3200000 20 3200000
1 26 1
26 26 26
676 26 676
17576 26 17576
456976 26 456976
11881376 26 11881376
True

In [109]:
B = np.array([[       1,        9,       81,      729,     6561,    59049],
       [       1,       18,      324,     5832,   104976,  1889568],
       [       1,       23,      529,    12167,   279841,  6436343],
       [       1,       26,      676,    17576,   456976, 11881376],
       [       1,       20,      400,     8000,   160000,  3200000],
       [       1,        5,       25,      125,      625,     3125],
       [       1,       10,      100,     1000,    10000,   100000],
       [       1,        4,       16,       64,      256,     1024],
       [       1,       24,      576,    13824,   331776,  7962624],
       [       1,        3,        9,       27,       81,      243],
       [       1,       22,      484,    10648,   234256,  5153632],
       [       1,       11,      121,     1331,    14641,   161051],
       [       1,       16,      256,     4096,    65536,  1048576],
       [       1,       18,      324,     5832,   104976,  1889568],
       [       1,        4,       16,       64,      256,     1024],
       [       1,       12,      144,     1728,    20736,   248832],
       [       1,       14,      196,     2744,    38416,   537824],
       [       1,       11,      121,     1331,    14641,   161051],
       [       1,       20,      400,     8000,   160000,  3200000],
       [       1,       21,      441,     9261,   194481,  4084101],
       [       1,        7,       49,      343,     2401,    16807],
       [       1,       18,      324,     5832,   104976,  1889568],
       [       1,       16,      256,     4096,    65536,  1048576],
       [       1,       15,      225,     3375,    50625,   759375],
       [       1,       17,      289,     4913,    83521,  1419857],
       [       1,        9,       81,      729,     6561,    59049],
       [       1,        2,        4,        8,       16,       32]])


for i in range(27):
    for j in range (6):
        vi = B[i][1]
        vij = vi ** (j)
        print(B[i][j],vi,vij)
        if (B[i][j] != vij):
            print(False)
            break
    
print(True)

1 9 1
9 9 9
81 9 81
729 9 729
6561 9 6561
59049 9 59049
1 18 1
18 18 18
324 18 324
5832 18 5832
104976 18 104976
1889568 18 1889568
1 23 1
23 23 23
529 23 529
12167 23 12167
279841 23 279841
6436343 23 6436343
1 26 1
26 26 26
676 26 676
17576 26 17576
456976 26 456976
11881376 26 11881376
1 20 1
20 20 20
400 20 400
8000 20 8000
160000 20 160000
3200000 20 3200000
1 5 1
5 5 5
25 5 25
125 5 125
625 5 625
3125 5 3125
1 10 1
10 10 10
100 10 100
1000 10 1000
10000 10 10000
100000 10 100000
1 4 1
4 4 4
16 4 16
64 4 64
256 4 256
1024 4 1024
1 24 1
24 24 24
576 24 576
13824 24 13824
331776 24 331776
7962624 24 7962624
1 3 1
3 3 3
9 3 9
27 3 27
81 3 81
243 3 243
1 22 1
22 22 22
484 22 484
10648 22 10648
234256 22 234256
5153632 22 5153632
1 11 1
11 11 11
121 11 121
1331 11 1331
14641 11 14641
161051 11 161051
1 16 1
16 16 16
256 16 256
4096 16 4096
65536 16 65536
1048576 16 1048576
1 18 1
18 18 18
324 18 324
5832 18 5832
104976 18 104976
1889568 18 1889568
1 4 1
4 4 4
16 4 16
64 4 64
256 4 256
1024 4 1024
1 12 1
12 12 12
144 12 144
1728 12 1728
20736 12 20736
248832 12 248832
1 14 1
14 14 14
196 14 196
2744 14 2744
38416 14 38416
537824 14 537824
1 11 1
11 11 11
121 11 121
1331 11 1331
14641 11 14641
161051 11 161051
1 20 1
20 20 20
400 20 400
8000 20 8000
160000 20 160000
3200000 20 3200000
1 21 1
21 21 21
441 21 441
9261 21 9261
194481 21 194481
4084101 21 4084101
1 7 1
7 7 7
49 7 49
343 7 343
2401 7 2401
16807 7 16807
1 18 1
18 18 18
324 18 324
5832 18 5832
104976 18 104976
1889568 18 1889568
1 16 1
16 16 16
256 16 256
4096 16 4096
65536 16 65536
1048576 16 1048576
1 15 1
15 15 15
225 15 225
3375 15 3375
50625 15 50625
759375 15 759375
1 17 1
17 17 17
289 17 289
4913 17 4913
83521 17 83521
1419857 17 1419857
1 9 1
9 9 9
81 9 81
729 9 729
6561 9 6561
59049 9 59049
1 2 1
2 2 2
4 2 4
8 2 8
16 2 16
32 2 32
True

In [108]:
data_science_text = """
Data science is an interdisciplinary field that uses scientific methods, algorithms, processes, and systems to extract knowledge and insights from structured and unstructured data. It combines expertise from computer science, mathematics, statistics, domain knowledge, and communication skills.

In data science, we explore, analyze, and visualize data to uncover patterns, trends, and relationships. We use machine learning techniques to build predictive models, classification algorithms, and clustering methods. Data scientists work with large datasets, often using tools like Pandas, NumPy, and scikit-learn in Python.

Data science encompasses various tasks:
- Data collection: Gathering data from different sources, such as databases, APIs, or web scraping.
- Data cleaning: Preprocessing data by handling missing values, outliers, and inconsistencies.
- Exploratory data analysis (EDA): Understanding the data distribution, correlations, and summary statistics.
- Feature engineering: Creating new features from existing data to improve model performance.
- Model selection: Choosing the appropriate algorithm (linear regression, decision trees, neural networks, etc.) for the problem.
- Model training: Training the selected model on the data.
- Model evaluation: Assessing the model's performance using metrics like accuracy, precision, recall, or F1-score.
- Model deployment: Integrating the model into a production environment.

Data science is widely used in various domains, including finance, healthcare, marketing, and social sciences. It plays a crucial role in making data-driven decisions, optimizing processes, and solving complex problems.

Happy data science exploration!
"""

In [1]:
from collections import Counter

cleaned_text = "".join([char.lower() for char in data_science_text if char.isalpha()])

letter_frequency = Counter(cleaned_text)
print(letter_frequency)

shift = 13
def f(data_science_text, shift):
    ciphered_text = ''
    for char in data_science_text:
        if char.isalpha():
            shifted_char = chr((ord(char) - ord("a") + shift) % 26 + ord("a"))
            ciphered_text += shifted_char
        else:
            ciphered_text += char
    return ciphered_text

ciphered_text = f(cleaned_text, shift)

ciphered_text.count("z")
print(cleaned_text)

NameError: name 'data_science_text' is not defined