# **Python 10 and Concept 5: Pivot Tables and Random Numbers**
## ECE 204 Data Science & Engineering

### Lecture Notes

### In-Class Activity
#### Please first read the questions in the in-class activity, where the questions are there in detail. This is just a starter notebook.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('unemployment_data.csv')    # We're using the same data set used during lecture!
df.head()

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

   year  month    industry  unemployed  rate
0  2000      1  Government         430   2.1
1  2000      2  Government         409   2.0
2  2000      3  Government         311   1.5
3  2000      4  Government         269   1.3
4  2000      5  Government         370   1.9

---
**Problem 1.** Use a pivot table to determine the unemployment rate for the Agriculture industry during January 2000.

In [33]:

df.pivot_table(
index='industry',
columns=['year','month'],
values='rate',
aggfunc='mean')

year                          2000                                            \
month                           1     2     3    4    5    6    7    8    9
industry
Agriculture                   10.3  11.5  10.4  8.9  5.1  6.7  5.0  7.0  8.2
Business services              5.7   5.2   5.4  4.5  4.7  4.4  5.1  4.8  4.6
Construction                   9.7  10.6   8.7  5.8  5.0  4.6  4.4  5.1  4.6
Education and Health           2.3   2.2   2.5  2.1  2.7  2.9  3.1  2.9  2.6
Finance                        2.7   2.8   2.6  2.3  2.2  2.5  2.2  2.5  2.2
Government                     2.1   2.0   1.5  1.3  1.9  3.1  2.9  3.1  2.1
Information                    3.4   2.9   3.6  2.4  3.5  2.6  3.6  3.7  3.3
Leisure and hospitality        7.5   7.5   7.4  6.1  6.2  7.3  6.8  6.0  5.9
Manufacturing                  3.6   3.4   3.6  3.7  3.4  3.1  3.6  3.4  3.4
Mining and Extraction          3.9   5.5   3.7  4.1  5.3  2.6  3.6  5.1  5.8
Other                          4.9   4.1   4.3  4.2  4.5  3.9  3.7  3.5  4.0
Self-employed                  2.3   2.5   2.0  2.0  1.9  1.8  2.1  1.7  2.0
Transportation and Utilities   4.3   4.0   3.5  3.4  3.4  3.2  3.9  3.4  4.0
Wholesale and Retail Trade     5.0   5.2   5.1  4.1  4.3  4.4  4.1  4.3  4.1

year                               ...  2009                                \
month                          10  ...    5     6     7     8     9     10
industry                           ...
Agriculture                   8.0  ...  10.0  12.3  12.1  13.1  11.1  11.8
Business services             4.1  ...  10.9  11.3  10.9  11.0  11.3  10.3
Construction                  4.9  ...  19.2  17.4  18.2  16.5  17.1  18.7
Education and Health          2.1  ...   4.9   6.1   6.1   6.0   6.0   6.0
Finance                       2.6  ...   5.7   5.5   6.1   6.0   7.1   7.0
Government                    2.0  ...   3.1   4.4   5.1   5.1   4.2   3.5
Information                   2.4  ...   9.5  11.1  11.5  10.7  11.2   8.2
Leisure and hospitality       6.5  ...  11.9  12.1  11.2  12.0  11.4  12.4
Manufacturing                 3.6  ...  12.6  12.6  12.4  11.8  11.9  12.2
Mining and Extraction         7.8  ...  13.3  13.6  12.6  11.8  10.7  10.8
Other                         2.9  ...   7.5   8.4   7.4   8.2   7.1   8.5
Self-employed                 2.2  ...   5.0   4.4   5.2   5.3   5.9   5.9
Transportation and Utilities  2.8  ...   8.5   8.4   8.8   9.8   9.5   8.6
Wholesale and Retail Trade    3.7  ...   9.0   9.1   9.0   8.8   9.0   9.6

year                                      2010
month                           11    12    1     2
industry
Agriculture                   12.6  19.7  21.3  18.8
Business services             10.6  10.3  11.1  12.0
Construction                  19.4  22.7  24.7  27.1
Education and Health           5.5   5.6   5.5   5.6
Finance                        6.7   7.2   6.6   7.5
Government                     3.4   3.6   4.3   4.0
Information                    7.6   8.5  10.0  10.0
Leisure and hospitality       11.9  12.6  14.2  12.7
Manufacturing                 12.5  11.9  13.0  12.1
Mining and Extraction         12.0  11.8   9.1  10.7
Other                          8.0   8.2  10.0   9.9
Self-employed                  5.7   5.9   7.2   6.5
Transportation and Utilities   8.5   9.0  11.3  10.5
Wholesale and Retail Trade     9.2   9.1  10.5  10.0

[14 rows x 122 columns]

---
**Problem 2.** Use a pivot table to determine the mean rate of unemployment in the Agriculture industry during 2000. The mean will be taken over different months, January (1) to December (12).

In [31]:
df.pivot_table(
index='industry',
columns=['year'],
values='rate',
aggfunc='mean')

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
industry,,,,,,,,,,,
Agriculture,9.025000,11.283333,10.266667,10.391667,10.075000,8.416667,7.358333,6.233333,9.266667,14.391667,20.05
Business services,4.783333,6.125000,7.875000,8.241667,6.833333,6.233333,5.650000,5.325000,6.558333,10.800000,11.55
Construction,6.325000,7.066667,9.200000,9.341667,8.425000,7.450000,6.683333,7.375000,10.600000,19.050000,25.90
Education and Health,2.450000,2.833333,3.358333,3.625000,3.433333,3.416667,3.008333,2.966667,3.491667,5.266667,5.55
Finance,2.416667,2.866667,3.550000,3.491667,3.566667,2.875000,2.725000,2.975000,3.950000,6.400000,7.05
Government,2.141667,2.183333,2.533333,2.808333,2.658333,2.550000,2.283333,2.333333,2.441667,3.616667,4.15
Information,3.200000,4.883333,6.925000,6.816667,5.666667,5.066667,3.741667,3.575000,5.016667,9.225000,10.00
Leisure and hospitality,6.633333,7.500000,8.375000,8.741667,8.316667,7.758333,7.283333,7.366667,8.641667,11.683333,13.45
Manufacturing,3.458333,5.233333,6.650000,6.591667,5.641667,4.875000,4.191667,4.258333,5.758333,12.075000,12.55
Mining and Extraction,4.433333,4.233333,6.300000,6.641667,4.008333,3.150000,3.150000,3.425000,3.083333,11.658333,9.90
Other,3.891667,4.000000,5.100000,5.733333,5.266667,4.800000,4.675000,3.916667,5.266667,7.508333,9.95
Self-employed,2.083333,2.083333,2.583333,2.741667,2.791667,2.733333,2.675000,2.850000,3.641667,5.500000,6.85
Transportation and Utilities,3.441667,4.241667,4.900000,5.266667,4.425000,4.158333,3.991667,3.916667,5.133333,8.883333,10.90
Wholesale and Retail Trade,4.300000,4.866667,6.100000,6.000000,5.750000,5.375000,4.933333,4.716667,5.841667,9.033333,10.25

---
**Problem 3.** Use a pivot table to determine the median rate of unemployment in the Agriculture industry during 2000. The median will be taken over different months, January (1) to December (12).

In [38]:
df.pivot_table(index='industry',columns=['year'],values='rate',aggfunc='median')

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
industry,,,,,,,,,,,
Agriculture,8.55,10.05,9.40,10.50,9.15,8.30,6.10,5.40,8.55,12.85,20.05
Business services,4.65,5.85,7.75,8.25,6.60,6.00,5.60,5.20,6.30,10.85,11.55
Construction,5.40,6.60,8.10,8.15,7.40,5.90,6.35,6.55,10.90,18.70,25.90
Education and Health,2.40,2.85,3.20,3.55,3.30,3.45,3.00,2.90,3.50,5.55,5.55
Finance,2.40,2.85,3.55,3.50,3.50,2.75,2.75,3.10,3.65,6.40,7.05
Government,2.00,2.15,2.45,2.65,2.55,2.40,2.15,2.20,2.35,3.45,4.15
Information,3.35,4.70,7.10,6.80,5.65,4.95,3.60,3.70,5.00,9.00,10.00
Leisure and hospitality,6.50,7.45,8.50,8.70,8.00,7.70,7.05,7.35,8.75,11.75,13.45
Manufacturing,3.40,5.20,6.60,6.70,5.60,4.80,4.10,4.40,5.40,12.20,12.55
Mining and Extraction,4.00,4.45,6.35,6.95,4.35,3.20,3.15,3.30,3.35,11.90,9.90
Other,3.95,4.10,5.00,5.75,5.35,4.90,4.65,3.90,5.15,7.45,9.95
Self-employed,2.00,2.05,2.60,2.70,2.75,2.65,2.65,2.85,3.35,5.70,6.85
Transportation and Utilities,3.40,4.05,4.80,5.05,4.35,4.25,3.95,3.85,5.15,8.90,10.90
Wholesale and Retail Trade,4.20,4.80,6.15,5.95,5.65,5.40,4.85,4.70,5.95,9.00,10.25

---
**Problem 4.** Which of the following best describes the unemployment rate for Agriculture throughout a typical year? (for each month, take the average over all the years)

- Unemployment rate is relatively low (around 7%) during the summer (June–September, months 6-9)
- Unemployment rate is relatively high (around 13%) during the summer (June–September, months 6-9)
- Unemployment rate is relatively high (around 20%) during the winter (Dec-March, months 12 and 1-3)
- Unemployment rate is relatively low (around 5%) during the winter (Dec-March, months 12 and 1-3)

In [39]:
df.pivot_table(index='industry',columns='month',values='rate',aggfunc='mean')

month,1,2,3,4,5,6,7,8,9,10,11,12
industry,,,,,,,,,,,,
Agriculture,13.763636,13.645455,13.83,9.13,7.10,6.77,7.01,8.08,7.09,7.49,10.47,12.94
Business services,7.863636,7.645455,7.13,6.27,6.60,6.72,6.74,6.57,6.79,6.71,6.75,7.08
Construction,12.909091,13.600000,11.29,9.45,8.12,7.43,7.35,7.30,7.56,7.84,8.70,10.80
Education and Health,3.363636,3.290909,3.11,3.04,3.29,3.82,3.87,3.89,3.54,3.33,3.33,3.19
Finance,3.572727,3.890909,3.45,3.28,3.35,3.54,3.52,3.61,3.54,3.60,3.55,3.54
Government,2.600000,2.327273,2.19,2.02,2.20,3.10,3.49,3.36,2.61,2.45,2.37,2.28
Information,5.772727,5.900000,5.36,5.23,5.48,5.26,5.32,5.55,5.73,5.05,5.47,5.65
Leisure and hospitality,9.345455,9.136364,8.37,7.70,7.93,8.42,7.95,7.92,7.93,8.11,8.59,8.20
Manufacturing,6.609091,6.500000,6.00,5.89,5.72,5.73,6.00,5.66,5.72,5.78,6.02,6.05
Mining and Extraction,5.600000,5.745455,5.14,5.64,5.28,5.57,4.95,4.50,4.48,4.41,4.40,5.23
Other,5.436364,5.618182,4.91,4.67,4.81,5.16,5.11,5.41,5.02,4.87,5.25,4.81
Self-employed,3.600000,3.390909,2.88,2.68,2.77,2.60,2.77,2.89,3.07,3.06,3.21,3.37
Transportation and Utilities,5.790909,5.618182,5.10,4.79,4.50,4.82,5.04,4.58,4.65,4.80,4.58,4.80
Wholesale and Retail Trade,6.481818,6.372727,5.86,5.46,5.49,5.84,5.75,5.61,5.63,5.56,5.52,5.49

---
**Problem 5.** Generate a list of 10,000 uniformly distributed random values between `[a, b)`, where `a` and `b` are provided for you in Canvas. What is the standard deviation of these random values?

In [22]:
result = np.random.uniform(3,8,size=10000)
np.std(result)

1.4402122752045434

In [27]:
# Python3 program to
# Check if the string is pangram
import string

def ispangram(str):
	alphabet = "abcdefghijklmnopqrstuvwxyz"
	for char in alphabet:
		if char not in str.lower():
			return False

	return True
	
# Driver code
string =  "The five boxing wizards jump quickly."
if(ispangram(string) == True):
	print("Yes")
else:
	print("No")

Yes