# **Python 10 and Concept 5: Pivot Tables and Random Numbers**
## ECE 204 Data Science & Engineering

### Lecture Notes

### In-Class Activity
#### Please first read the questions in the in-class activity, where the questions are there in detail. This is just a starter notebook.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('unemployment_data.csv')    # We're using the same data set used during lecture!
df.head()

   year  month    industry  unemployed  rate
0  2000      1  Government         430   2.1
1  2000      2  Government         409   2.0
2  2000      3  Government         311   1.5
3  2000      4  Government         269   1.3
4  2000      5  Government         370   1.9

---
**Problem 1.** Use a pivot table to determine the unemployment rate for the Agriculture industry during January 2000.

In [13]:
pivot =df.pivot_table(index='industry',columns=['year','month'], values='rate')
agriculture_rate = pivot.loc['Agriculture', (2000, 1)]
agriculture_rate.item()

10.3

---
**Problem 2.** Use a pivot table to determine the mean rate of unemployment in the Agriculture industry during 2000. The mean will be taken over different months, January (1) to December (12).

In [23]:
mean_rate = pivot.loc['Agriculture', (2000, )].mean()
mean_rate.item()

9.025

---
**Problem 3.** Use a pivot table to determine the median rate of unemployment in the Agriculture industry during 2000. The median will be taken over different months, January (1) to December (12).

In [34]:
pivot_median =df.pivot_table(index='industry',columns=['year'], values='rate', aggfunc='median')
# pivot_median
agriculture_rate_median = pivot_median.loc['Agriculture', (2000)]
agriculture_rate_median.item()

8.55

---
**Problem 4.** Which of the following best describes the unemployment rate for Agriculture throughout a typical year? (for each month, take the average over all the years)

- Unemployment rate is relatively low (around 7%) during the summer (June–September, months 6-9)
- Unemployment rate is relatively low (around 7%) during the summer (June–September, months 6-9)
- Unemployment rate is relatively high (around 20%) during the winter (Dec-March, months 12 and 1-3)
- Unemployment rate is relatively low (around 5%) during the winter (Dec-March, months 12 and 1-3)

In [36]:
pivot_rate = df.pivot_table(index='month', values='rate', aggfunc='mean')
pivot_rate

           rate
month
1      6.622078
2      6.620130
3      6.044286
4      5.375000
5      5.188571
6      5.341429
7      5.347857
8      5.352143
9      5.240000
10     5.218571
11     5.586429
12     5.959286

---
**Problem 5.** Generate a list of 10,000 uniformly distributed random values between `[a, b)`, where `a` and `b` are provided for you in Canvas. What is the standard deviation of these random values?

In [41]:
a,b = -2, 5
s = pd.Series((b-a) * np.random.rand(10000) + a)
round(s.std().item(), 2)

2.02