# **K-Nearest-Neighbor Classification**
## ECE 204 Data Science & Engineering

### Lecture Notes

### Import Statements

In [8]:
# Add any import statements that you might need to complete the activity here!
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

### In-Class Activity
#### Please first read the questions in the in-class activity, where the questions are there in detail. This is just a starter notebook.

In [9]:
df = pd.read_csv("iris.csv")
df.sample(10)

     petalLength  petalWidth  sepalLength  sepalWidth     species
111          5.3         1.9          6.4         2.7   virginica
85           4.5         1.6          6.0         3.4  versicolor
99           4.1         1.3          5.7         2.8  versicolor
47           1.4         0.2          4.6         3.2      setosa
41           1.3         0.3          4.5         2.3      setosa
1            1.4         0.2          4.9         3.0      setosa
104          5.8         2.2          6.5         3.0   virginica
0            1.4         0.2          5.1         3.5      setosa
58           4.6         1.3          6.6         2.9  versicolor
66           4.5         1.5          5.6         3.0  versicolor

---
**Problem 2.** This time, we will only use two of the features of the iris dataset. What accuracy do we obtain if we only use the `sepalWidth` and `sepalLength` features for classification and KNN with K=5?

In [12]:
features = ['sepalLength', 'sepalWidth']
Xtrain = df[features]
Ytrain = df["species"]

In [14]:
# 1.) Instantiate a KNN learning model
knn = KNeighborsClassifier(n_neighbors=5)

# 2.) Fit the model to Xtrain
knn = knn.fit(Xtrain,Ytrain)

# 3.) Store the KNN predictions in Ypred
Ypred = knn.predict(Xtrain)

# 4.) Calculate accuracy (hint: you can do this manually or use sklearn)
accuracy = accuracy_score(Ytrain,Ypred)
print("The model accuracy is: ", accuracy)

The model accuracy is:  0.8333333333333334

---
**Problem 3.a.** Rather than using the same training and testing set, we will do the following:

- Train using the even-numbered rows (index 0,2,4,...)
- Test using the odd-numbered rows (index 1,3,5,...)

When we do this with KNN (K = 5), what accuracy do we obtain? Please be sure to use all four features of the data set to answer this question.

In [15]:
features = ['petalLength', 'petalWidth', 'sepalLength', 'sepalWidth']
Xtrain = df[features]
Ytrain = df.species

In [17]:
# 1.) Instantiate a KNN learning model
knn = KNeighborsClassifier(n_neighbors=5)

# 2.) Fit the model to Xtrain
knn.fit(Xtrain.iloc[::2],Ytrain.iloc[::2])

# 3.) Store the KNN predictions in Ypred
Ypred = knn.predict(Xtrain.iloc[1::2])

# 4.) Calculate accuracy (hint: you can do this manually or use sklearn)
accuracy = accuracy_score(Ytrain.iloc[1::2], Ypred)
print("The model accuracy is: ", accuracy)

The model accuracy is:  0.9866666666666667

**Problem 3.b.** Using the same training and testing data sets described in problem 3.a, what accuracy do you obtain when K = 1?

In [18]:
# 1.) Instantiate a KNN learning model
knn = KNeighborsClassifier(n_neighbors=1)

# 2.) Fit the model to Xtrain
knn.fit(Xtrain.iloc[::2],Ytrain.iloc[::2])

# 3.) Store the KNN predictions in Ypred
Ypred = knn.predict(Xtrain.iloc[1::2])

# 4.) Calculate accuracy (hint: you can do this manually or use sklearn)
accuracy = accuracy_score(Ytrain.iloc[1::2], Ypred)
print("The model accuracy is: ", accuracy)

The model accuracy is:  0.96