# Python 13: Manipulating Time Series
## ECE 204 Data Science & Engineering

In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime

### In-Class Activity
#### Please first read the questions in the in-class activity, where the questions are there in detail. This is just a starter notebook.

In [2]:
flights_df = pd.read_csv("flights_20k.csv", index_col=0, parse_dates=True)
flights_df.head()

                     delay destination  distance origin
date
2001-01-13 14:56:00     32         SJC       417    SAN
2001-01-31 16:40:00     -5         ISP      1093    FLL
2001-02-11 18:39:00      3         DAL       293    LBB
2001-01-10 21:00:00    -15         MCO       550    MSY
2001-03-30 21:45:00     -2         IND       229    STL

---
**Problem 1.** In `flights_df`, **find the mean delay for flights that landed on a `Friday`**.

In [3]:
flights_df['weekday_name'] = flights_df.index.day_name()

flights_df.pivot_table(index='weekday_name', values='delay', aggfunc='mean')
friday_mean_delay = flights_df.pivot_table(index='weekday_name', values='delay', aggfunc='mean').loc['Friday']
round(friday_mean_delay, 2)

delay    15.59
Name: Friday, dtype: float64

---
**Problem 2.** In the `flights_df`, **find the number of flights that landed early (negative delay) in the month of `feb-2001`**. 

Note - Check if using `feb-2001`/`2001-feb` instead of `2001-02` works?

In [4]:
feb_2001 =flights_df.loc['2001-feb']
print(feb_2001.head())

feb_2001_early = feb_2001[feb_2001['delay'] < 0]
len(feb_2001_early)

                     delay destination  distance origin weekday_name
date
2001-02-11 18:39:00      3         DAL       293    LBB       Sunday
2001-02-28 21:56:00     11         LAS      1140    MCI    Wednesday
2001-02-09 08:00:00      4         ALB       288    BWI       Friday
2001-02-14 17:44:00     21         LAX       308    SJC    Wednesday
2001-02-19 14:20:00      0         BDL       283    BWI       Monday

2576

---
**Problem 3.** In the `flights_df`, **find the number of unique months in the data.**

In [5]:
flights_df.index.to_period('M').nunique()

3

In [6]:
len(set(flights_df.index.to_period('M').tolist()))

3