In [1]:
import timeit

def average(a,b):
    avg = (a + b)/2
    return avg 

time_function = timeit.timeit("average(6889, 9888)", globals=globals(), number = 10000)
time_direct = timeit.timeit("(6889 + 9888)/2", number = 10000)

print(f"Time for average function: {time_function} seconds")
print(f"Time for direct calculation: {time_direct} seconds")

Time for average function: 0.00045950000640004873 seconds
Time for direct calculation: 4.600000102072954e-05 seconds

In [2]:
apples = ['cortland', 'gala', 'opal']
oranges = ['tangerine', 'clementine']
fruits = [apples, oranges]
length = len(fruits)
length

2

In [3]:
a = ([0, 1, 2, 3], 4) 
a[0].append(5)
print(a)

([0, 1, 2, 3, 5], 4)

In [4]:
a = (4, 3, 2, 1)
b = (1, 2, 3, 4)
result = a == b[::-1]
result

True

In [10]:
l2 = [1, 2, 'a', 'b']
val = sum(l2) * l2
val

TypeError: unsupported operand type(s) for +: 'int' and 'str'