# ECE 204 Data Science & Engineering: Python 5 & 6

## Python 5:  Dictionaries and Series
### In-Class Activity Item I

Here are the number of males and females (in millions) over the age of 18 in each state. Find the total number of people over the age of 18 in each state:

In [1]:
males = {'CA': 15.9, 'TX': 11.68, 'NY': 7.86, 'FL': 8.55, 'PA': 5.09, 'IL': 5.14, 'OH': 4.66, 'GA': 4.33, 'MN': 2.32, 'WI': 2.3, 'OR': 1.72, 'MI': 4.01}
females = {'IL': 5.02, 'OH': 4.7, 'CA': 15.78, 'TX': 11.28, 'NY': 7.74, 'FL': 8.49, 'PA': 5.15, 'GA': 4.07, 'MN': 2.16, 'WI': 2.34, 'OR': 1.64, 'MD': 3.99}

In [2]:
import pandas as pd

population = {}
for state in set(males.keys()).union(set(females.keys())):
    population[state] = males.get(state, 0) + females.get(state, 0)

pop_series = pd.Series(population)

sorted_pop = pop_series.sort_values(ascending=False)
sorted_pop

CA    31.68
TX    22.96
FL    17.04
NY    15.60
PA    10.24
IL    10.16
OH     9.36
GA     8.40
WI     4.64
MN     4.48
MI     4.01
MD     3.99
OR     3.36
dtype: float64

In [3]:
s = {"j": 1, "k": 2, "l": 3}
list_s = tuple(s.items())
list_s

(('j', 1), ('k', 2), ('l', 3))

In [4]:
import pandas as pd
df = pd.DataFrame({"col1": [0, 1, 2], "col2": [0, 2, 4]}, index=[-3, -2, -1])
index = df.index
index

Index([-3, -2, -1], dtype='int64')

## Python 6: Pandas DataFrames
### In-Class Activity Item II

In [5]:
x = [-14, -12, 5, 44, -24, -27, -15, 38, 7, -48, -38, 10, -22, 25, 42, 15, 24, -1, -29, -47, 21, 3, 26, 39, 9, 47, 16, 31, 20, -4, 6, -35, -41, 2, -34, -36, -49, 41, -26, -30, 17, 40, 36, 28, 32, 34, 45, -3, -42, -43, -50, -19, 22, -17, 27, 14, -39, 19, -6, -5, -46, 11, -40, -8, 13, 0, -13, -10, 29, 12, -44, -23, -45, 46, 37, -7, 33, 18, -37, 35, -31, -16, -25, 4, -33, 48, -11, -2, -9, 30, -21, 1, -20, 49, -18, 23, 8, -32, 43, -28]
y1 = [ 53,  26,  19, 138,  10, 119, 180, 118,  82, 105, 144, 161, 130, 142, 180,   7,  71, 162,  16, 149,  52,  10, 141,  88, 130, 6, 137, 154, 184, 198, 192, 152, 125, 179, 152,  63,  35,  51,  43, 136, 118, 127,  27, 133, 126,  60, 195,   8,  65,   5, 103,  89, 136,  24,  16,  81, 165, 141, 147, 102,  42, 166,  87, 118,  72, 161,  13,  26,  67,  93, 142, 171, 162,   8,  72,  51,  83,  79, 51,  23,  59,  29, 171,  52,  28, 170, 170,  78,   1,   2,  48, 184, 124,  95,   1, 144, 159,  72, 190,  94]
y2 = [ 92, -23, 236,  -9, 123, -16, 114, 242,  95, 152,  47,  30, 200, 86, 237,  44, 186,  90, 242,  15, -18, -14,  48, 193,  54,  74, 137,  60,  26, -19, 216,  54, 117, -23, 232, 146, 126, -13,  75, 4,  60,  76, 228,  28, 206,   7, 121, 199, 149,  32, 186, 186, 124, 233, 168,  -2, 111, 214, 224, 111, 114, -21,  95,  61, 155, 101, 210,   4, -28,  45,  70, 228,   8, 147,  59, 236, 140, 193, 240, 160, 117, 174,  36,  83, 159,  60,  21,  74, 181, -10, 174, 175,  83,   1, 132,  88, -18, -11, 155, -27]

Create a Pandas DataFrame out of the `y1` and `y2` lists, using `x` as the index:

In [7]:
import pandas as pd

df = pd.DataFrame({'x': x, 'y1': y1, 'y2': y2})
df

     x   y1   y2
0  -14   53   92
1  -12   26  -23
2    5   19  236
3   44  138   -9
4  -24   10  123
..  ..  ...  ...
95  23  144   88
96   8  159  -18
97 -32   72  -11
98  43  190  155
99 -28   94  -27

[100 rows x 3 columns]

Index the created DataFrame to get the values of `y1` and `y2` that correspond to `x` taking on a particular value:

In [8]:
index_x = x.index(-16)
y1_value = y1[index_x]  
y2_value = y2[index_x]
y1_value, y2_value

(29, 174)

Find the mean value of `y1` and `y2`.

In [10]:
y1_mean = df['y1'].mean()
y2_mean = df['y2'].mean()
y1_mean, y2_mean

(96.66, 101.83)

Find the median value of `y1` and `y2`.

In [11]:
y1_median = df['y1'].median()
y2_median = df['y2'].median()
y1_median, y2_median

(94.5, 95.0)

In [12]:
d1 = {}
d2 = dict()

d1 == d2

True

In [22]:
d3 = {'2': 'This ', '0': 'is ', '4': 'great'}
conc = d3['2'] + d3['0'] + d3['4']
conc

'This is great'

In [31]:
student_data = {
    "Phillip Duan": {
        "Major": "bio+ds",
        "Previous_Residence": "China",
        "Number_of_Pets": 0,
        "Early_Bird_or_Night_Owl": "Night Owl",
        "Prefers_Summer": True,
        "Comments": None
    },
    "Xander Zhou": {
        "Major": "cs",
        "Previous_Residence": "China",
        "Number_of_Pets": 2,
        "Early_Bird_or_Night_Owl": "Night Owl",
        "Prefers_Summer": True,
        "Comments": None
    },
    "Qianyi Gong": {
        "Major": "cs",
        "Previous_Residence": "China",
        "Number_of_Pets": 10,
        "Early_Bird_or_Night_Owl": "Night Owl",
        "Prefers_Summer": True,
        "Comments": None
    }
}

df = pd.DataFrame.from_dict(student_data).T
df

,Major,Previous_Residence,Number_of_Pets,Early_Bird_or_Night_Owl,Prefers_Summer,Comments
Phillip Duan,bio+ds,China,0,Night Owl,True,None
Xander Zhou,cs,China,2,Night Owl,True,None
Qianyi Gong,cs,China,10,Night Owl,True,None